/* General body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url('../../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    color: white;
}

.logo-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 175px;
}

.logo-and-title img {
    height: 75px;
    width: 95px;
}

.logo-and-title h2 {
    text-align: center;
}

/* Sidebar styles */
.sidebar {
    position: fixed; /* Sidebar stays in place */
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh; /* Full viewport height */
    background-color: #425c50; /* Sidebar background color */
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);
}

hr {
    width: 100%;
    border: 1px solid #ffffff;
}

h1, h2 {
    color: white;
}

.menu {
    margin-top: -25px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.menu button {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.menu .chosen-btn {
    border-radius: 25px;
    background-color: #ffffff;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    height: 35px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.6);
}

.menu .discover-btn:hover {
    background-color: #cce4db;
}

.menu .text-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.menu .text-btn:hover {
    text-decoration: underline;
}