.sidebar {
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh;
    background-color: #7BA391;
    padding: 20px 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontally center */
    justify-content: center; /* vertically center */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 150px; /* spacing between elements */
}

.sidebar h1 {
    font-size: 24px;
    margin: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #6A8891;
    margin-bottom: 10px;
}

.profile h2 {
    font-size: 18px;
    margin: 5px 0;
}

.profile p {
    font-size: 14px;
    color: #eeeeee;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu button {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 8px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.menu .discover-btn {
    background-color: #ffffff;
    font-weight: bold;
    color: #333;
}

.menu .discover-btn:hover {
    background-color: #cce4db;
}

.menu .text-btn {
    background: none;
    color: white;
}

.menu .text-btn:hover {
    text-decoration: underline;
}

.menu a {
    margin-top: 250px;
}

hr {
    width: 100%;
    border: 1px solid #ffffff;
    margin: 20px 0;
}
