/* General body styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    background-image: url('background.jpg');
    background-size: cover; /* Ensures full coverage of the background */
    background-position: center;
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    
}

/* Sidebar styles */
.sidebar {
    position: fixed; /* Sidebar stays in place */
    top: 0;
    left: 0;
    width: 170px;
    height: 100vh; /* Full viewport height */
    background-color: #7BA391; /* Sidebar background color */
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 30px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background-color: #6A8891;
}

.profile h2 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.profile p {
    font-size: 14px;
    color: #eeeeee;
}

.menu button {
    width: 100%;
    padding: 5px;
    margin-bottom: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu .account-btn {
    border-radius: 25px;
    background-color: #ffffff;
    font-weight: bold;
    color: #333;
}

.menu .account-btn:hover {
    background-color: #cce4db;
}

.menu .text-btn {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.menu .text-btn:hover {
    text-decoration: underline;
}

.menu .logout {
    border-radius: 25px;
    background-color: #D76767;
    color: white;
    font-weight: bold;
}

.menu .logout:hover {
    border-radius: 25px;
    background-color: #C45555;
}


hr {
    width: 100%;
    border: 1px solid #ffffff;
    margin: 20px 0;
}
