*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.container{
    display: flex;
}

.picture{
    width: 50%;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
}

.picture::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

/* .LOGIN_SIGNUP{
    display: flex;
    margin: 20px;
    width: 150px;
    justify-content: space-around;
}
.LOGIN_SIGNUP a{
    text-decoration: none;
}
.LOGIN_SIGNUP a p{
    position: relative;
    
    color: white;
} */

.needed_content{
    margin-top: 100px;
    position: relative;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.needed_content h1{
    font-size: 60px;
}
span{
    color: #A1BE95;
}

.needed_content img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 275px;
    height: 200px;
}

.text{
    font-size: 30px;
}

.link{
    margin-top: 60px;
    font-size: 12px;
    font-weight: lighter;
}

.links{
    margin-top: 60px;
    font-size: 12px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.needed_content a{
    text-decoration: none;
    color: #2EA1F3;
}


.form{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms{
    width: 80%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms h1{
    margin-bottom: 50px;
    font-size: 50px;
}

form{
    display: flex;
    flex-direction: column;
}

form input{
    width: 350px;
    height: 45px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.next{
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
    color: black;
    /* font-weight: bold; */
}


form .button button{
    cursor: pointer;
    width: 160px;
    height: 40px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

form .button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .button p{
  color: #8B8383;
}

.loginButton{
    background-color: #2EA1F3;
}

.faceRecognitionButton{
    background-color: #F06565;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}


.signs{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
}

.signs a{
    color: #FF0000;
}

.logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
}

.logo img{
    margin-top: 10px;
    width: 85px;
    height: 70px;
}

.logo p{
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 20px;
    font-weight: bold;
}


.takeAphoto{
    margin-left: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 363px;
    height: 100px;
    background-color: #000000c0;
    color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.takeAphoto img{
    width: 35px;
    height: 35px;
}

select{
    width: 363px;
    height: 45px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.info{
    display: flex;
    margin-top: -20px;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.choose{
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.choose button{
    margin-left: 10px;
    border-radius: 10px;
    width: 160px;
    height: 100px;
    background-color: #000000c0;
    color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

input[readonly] {
    user-select: none; /* Prevent text selection */
    pointer-events: none; /* Prevent cursor and clicking */
}

input[readonly]::placeholder {
    color: black; /* Set placeholder color to black */
}

.choose img{
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-bottom: 40px;
}


.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last a{
    color: black;
}

.last span{
    color:
     #2EA1F3;
}

.last label{
    margin-top: 30px;
}

.last input{
    background-color: white;
    margin-bottom: 80px;
}

.last ::-webkit-input-placeholder{
    color: #6B6B6B;
}

.prev_sub{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prev_sub button{
    cursor: pointer;
}

.prev_sub p{
    color: black;
}

.cons{
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

textarea {
    height: 200px;
    resize: none;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 50px;
}


.centers h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
}

.centers{
    margin-bottom: 50px;
}